@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />
<br />
<div class="container">
			
Expense Manager is committed to <b>protecting your privacy</b>.
<br><br />
<b>Expense Manager site:</b>
<br>
You can visit most pages on our site without giving us any information about yourself. But sometimes we do 
need information to provide services that you request, and this privacy 
statement explains data collection and use in those situations.
<br>
<br>
Expense Manager runs submission form in which we ask the visitors for their 
email address. This email address we obtain from visitors <b>will not be sold or 
shared</b> with any third party. All information gathered is used for internal 
purposes only.
<br>
<br>
Expense Manager also collects certain information about your computer hardware and 
software. This information may include: your IP address, browser type, operating 
system, domain name, access times and referring Web site addresses. This 
information is used for the operation of the service, to maintain quality of the 
service, and to provide general statistics regarding use of Expense Manager.
This data is <b>never</b> linked with personal information.
<br>
Expense Manager also collects information about which pages our customers visit within Expense Manager. This site visitation data is also <b>never</b> linked with personal 
information.
<br>
<br>
Expense Manager is committed to <b>protecting the security</b> of your personal 
information. We use a variety of security technologies and procedures to help 
protect your personal information from unauthorized access, use or disclosure.
<br>
<br>
If you have any questions about this privacy statement, you can contact our support.

	</div>